<!--start upper header -->
<div class="upper-header">
    <div class="row">
        <div class="col-md-8">
            <p class="animate__animated animate__fadeInUp"><i class="fas fa-envelope"></i> info@gmail.com
            </p>
            <p class="animate__animated animate__fadeInUp"><i class="fas fa-phone"></i> <span>(10) 22
                    33445566</span></p>
        </div>
        <div class="col-md-4">
            <ul class="social_media">
                <a href="" class="">
                    <li class="facebook animate__animated animate__fadeInDown"><i class="fab fa-facebook-f"></i>
                        <span>Facebook</span></li>
                </a>
                <a href="">
                    <li class="twitter animate__animated animate__fadeInDown"><i class="fab fa-twitter"></i>
                        <span>Twitter</span>
                    </li>
                </a>
                <a href="">
                    <li class="instagram animate__animated animate__fadeInDown"><i class="fab fa-instagram"></i>
                        <span>Instagram</span></li>
                </a>
                <a href="">
                    <li class="linkedin animate__animated animate__fadeInDown"><i class="fab fa-linkedin"></i>
                        <span>Linkedin</span></li>
                </a>

            </ul>

        </div>
    </div>
</div>
<!--end upper header -->

<!--start navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand animate__animated animate__fadeInRight" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive='active'>
                <a class="nav-link animate__animated animate__fadeInUp" routerLink="/"> الرئيسية<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive='active'>
                <a class="nav-link animate__animated animate__fadeInUp" routerLink="/about-us"> من نحن</a>
            </li>
            <li class="nav-item" routerLinkActive='active'>
                <a class="nav-link animate__animated animate__fadeInUp" routerLink="/services"> الخدمات</a>
            </li>
            <li class="nav-item" routerLinkActive='active'>
                <a class="nav-link animate__animated animate__fadeInUp" routerLink="/works"> اعمالنا</a>
            </li>
            <li class="nav-item" routerLinkActive='active'>
                <a class="nav-link animate__animated animate__fadeInUp" routerLink="/team"> فريق العمل</a>
            </li>
            <li class="nav-item" routerLinkActive='active'>
                <a class="nav-link animate__animated animate__fadeInUp" routerLink="/careers"> الوظائف</a>
            </li>
            <li class="nav-item" routerLinkActive='active'>
                <a class="nav-link animate__animated animate__fadeInUp" routerLink="/contact-us"> اتصل بنا</a>
            </li>
        </ul>
    </div>
</nav>
<!--end navbar-->