<!-----start footer----->
<footer>
    <div class="container">
        <section class="brands">
            <div class="brands_container">
                <div class="row">
                    <div class="col-md-2 col-6">
                        <img src="assets/images/b11.png" class="animate__animated animate__zoomIn">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="assets/images/b12.png" class="animate__animated animate__zoomIn">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="assets/images/b13.png" class="animate__animated animate__zoomIn">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="assets/images/b11.png" class="animate__animated animate__zoomIn">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="assets/images/b12.png" class="animate__animated animate__zoomIn">
                    </div>
                    <div class="col-md-2 col-6">
                        <img src="assets/images/b13.png" class="animate__animated animate__zoomIn">
                    </div>

                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-md-4">
                <h4 class="animate__animated animate__zoomIn">Logo</h4>
                <p class="animate__animated animate__fadeInDown">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
                    الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
            </div>
            <div class="col-md-4">
                <h4 class="animate__animated animate__zoomIn">روابط سريعه</h4>
                <ul>
                    <a routerLink="/">
                        <li class="animate__animated animate__fadeInDown"><i class="fa-solid fa-angle-left"></i> الصفحة الرئيسية</li>
                    </a>
                    <a routerLink="/about-us">
                        <li class="animate__animated animate__fadeInDown"><i class="fa-solid fa-angle-left"></i> من نحن</li>
                    </a>
                    <a routerLink="/services">
                        <li class="animate__animated animate__fadeInDown"><i class="fa-solid fa-angle-left"></i> الخدمات</li>
                    </a>
                    <a routerLink="/works">
                        <li class="animate__animated animate__fadeInDown"><i class="fa-solid fa-angle-left"></i> اعمالنا</li>
                    </a>
                    <a routerLink="/team">
                        <li class="animate__animated animate__fadeInDown"><i class="fa-solid fa-angle-left"></i> فريق العمل</li>
                    </a>
                    <a routerLink="/careers">
                        <li class="animate__animated animate__fadeInDown"><i class="fa-solid fa-angle-left"></i> الوظائف</li>
                    </a>
                    <a routerLink="/contact-us">
                        <li class="animate__animated animate__fadeInDown"><i class="fa-solid fa-angle-left"></i> اتصل بنا</li>
                    </a>

                </ul>
            </div>
            <div class="col-md-4">
                <h4  class="animate__animated animate__zoomIn">معلومات الاتصال</h4>
                <p class="animate__animated animate__fadeInDown"><i class="fa-solid fa-location-dot"></i> <span>العنوان: </span>القصيم - المملكة العربيه السعودية
                </p>

                <p class="animate__animated animate__fadeInDown"><i class="fa-solid fa-phone"></i> <span>رقم التليفون: </span>(10) 22 33445566</p>
                <p class="animate__animated animate__fadeInDown"><i class="fa-solid fa-envelope"></i> <span>البريد الالكتروني: </span> info@gmail.com</p>



            </div>
        </div>

    </div>
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>حقوق النشر © 2022 جميع الحقوق محفوظة.</p>
                </div>
                <div class="col-md-6">
                    <div class="social_media">
                        <ul>
                            <a href="">
                                <li class="facebook"><i class="fab fa-facebook-f"></i> </li>
                            </a>
                            <a href="">
                                <li class="twitter"><i class="fab fa-twitter"></i> </li>
                            </a>
                            <a href="">
                                <li class="instagram"><i class="fab fa-instagram"></i> </li>
                            </a>
                            <a href="">
                                <li class="linkedin"><i class="fab fa-linkedin"></i></li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<!-----end footer----->



<button id="myBtn" title="Go to top"><i class="fa-solid fa-angle-up"></i></button>