<header class="header2">
    <div class="container">
        <app-header></app-header>

            <!--start head-->
            <div class="head text-center">
                <h2>اسم الخدمة</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">الصفحة الرئيسية</a></li>
                        <li class="breadcrumb-item"><a routerLink="/services">الخدمات</a></li>
                        <li class="breadcrumb-item active" aria-current="page">اسم الخدمه</li>
                    </ol>
                </nav>
            </div>
            <!--end head-->
    </div>
</header>

   <!--start services -->
   <section class="services" style="padding-bottom: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img class="animate__animated animate__fadeIn" src="assets/images/graphic-design-working-computer-creative-designer-job-work-workplace-109828851.jpg">
                <h2 class="animate__animated animate__fadeIn">اسم الخدمة</h2>
<p class="animate__animated animate__fadeIn">إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.</p>
<p class="animate__animated animate__fadeIn">هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم إيبسوم نفسه عدة مرات بما تتطلبه الحاجة، يقوم مولّدنا هذا باستخدام كلمات من قاموس يحوي على أكثر من 200 كلمة لا تينية، مضاف إليها مجموعة من الجمل النموذجية، لتكوين نص لوريم إيبسوم ذو شكل منطقي قريب إلى النص الحقيقي. وبالتالي يكون النص الناتح خالي من التكرار، أو أي كلمات أو عبارات غير لائقة أو ما شابه. وهذا ما يجعله أول مولّد نص لوريم إيبسوم حقيقي على الإنترنت.

</p>
            </div>
            <div class="col-md-4">
                <div class="sec" >
                    <ul>
                        <a href="service-details.html" ><li class="animate__animated animate__zoomIn">
                            <h4>اسم الخدمه</h4>
                            <div class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </div>
                        </li></a>
                        <a href="service-details.html"><li class="animate__animated animate__zoomIn">
                            <h4>اسم الخدمه</h4>
                            <div class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </div>
                        </li></a>
                        <a href="service-details.html"><li class="animate__animated animate__zoomIn">
                            <h4>اسم الخدمه</h4>
                            <div class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </div>
                        </li></a>
                        <a href="service-details.html"><li class="animate__animated animate__zoomIn">
                            <h4>اسم الخدمه</h4>
                            <div class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </div>
                        </li></a>
                    </ul>
                </div>
                <div class="sec2">
                    <h3>ارسل الينا رساله</h3>
                    <form>
                        <input type="email" class="form-control animate__animated animate__zoomIn" placeholder="البريد الالكتروني">
                    <textarea class="form-control animate__animated animate__zoomIn" placeholder="الرساله" rows="5"></textarea>
                <input type="submit" value="ارسل الرساله" class="animate__animated animate__zoomIn">  
                </form>
                </div>
            </div>
        </div>
    </div>

</section>
<!--end services -->

<app-footer></app-footer>