<header class="header2">
    <div class="container">
        <app-header></app-header>

            <!--start head-->
            <div class="head text-center">
                <h2>اسم الموظف</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">الصفحة الرئيسية</a></li>
                        <li class="breadcrumb-item"><a routerLink="/team">فريق العمل</a></li>
                        <li class="breadcrumb-item active" aria-current="page">اسم الموظف</li>
                    </ol>
                </nav>
            </div>
            <!--end head-->
    </div>
</header>

<section class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <div class="data_info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image animate__animated animate__zoomIn">
                                <img src="assets/images/team-one-img-1.jpg">
                                <div class="team-single-social">
                                    <ul>
                                        <a href="">
                                            <li class="twitter animate__animated animate__fadeInDown"><i
                                                    class="fab fa-facebook-f"></i></li>
                                        </a>
                                        <a href="">
                                            <li class="twitter animate__animated animate__fadeInDown"><i
                                                    class="fab fa-twitter"></i>
                                            </li>
                                        </a>
                                        <a href="">
                                            <li class="instagram animate__animated animate__fadeInDown"><i
                                                    class="fab fa-instagram"></i> </li>
                                        </a>
                                        <a href="">
                                            <li class="linkedin animate__animated animate__fadeInDown"><i
                                                    class="fab fa-linkedin"></i></li>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <h3>اسم الموظف</h3>
                                <h4>الوظيفة</h4>
                                <ul>
                                    <li class="animate__animated animate__fadeInDown">
                                        <span>تخصص:</span>
                                        <h4> front end developer</h4>
                                    </li>
                                    <li class="animate__animated animate__fadeInDown">
                                        <span>تاريخ الميلاد:</span>
                                        <h4> 15/5/1993</h4>
                                    </li>
                                    <li class="animate__animated animate__fadeInDown">
                                        <span>التعليم:</span>
                                        <h4> حاسبات و معلومات</h4>
                                    </li>
                                    <li class="animate__animated animate__fadeInDown">
                                        <span>الهوايات:</span>
                                        <h4> القراه و الكتابه</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h2 class="animate__animated animate__fadeInDown">عن الموظف:</h2>
                    <p class="animate__animated animate__fadeInDown">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
                        الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم
                        إيبسوم لأنها تعطي توزيعاَ طبيعياَ </p>
                    <p class="animate__animated animate__fadeInDown">إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي
                        الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم
                        إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر
                        العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص
                        لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.
                    </p>
                    <p class="animate__animated animate__fadeInDown">هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر
                        إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما،
                        عليك أن تتحقق أولاً أن ليس هناك أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص.
                        بينما تعمل جميع مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم
                        إيبسوم نفسه عدة مرات بما تتطلبه الحاجة، يقوم مولّدنا هذا باستخدام كلمات من قاموس يحوي على
                        أكثر من 200 كلمة لا تينية، مضاف إليها مجموعة من الجمل النموذجية، لتكوين نص لوريم إيبسوم ذو
                        شكل منطقي قريب إلى النص الحقيقي. وبالتالي يكون النص الناتح خالي من التكرار، أو أي كلمات أو
                        عبارات غير لائقة أو ما شابه. وهذا ما يجعله أول مولّد نص لوريم إيبسوم حقيقي على الإنترنت.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact_info">
                    <ul>
                        <li class="ul animate__animated animate__zoomIn">
                            <div class="arrow_icon">
                                <i class="fas fa-caret-left"></i>
                            </div>
                            <div class="icon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <a href=""><span>+7(123)987654</span></a>
                        </li>
                        <li class="animate__animated animate__zoomIn">
                            <div class="arrow_icon">
                                <i class="fas fa-caret-left"></i>
                            </div>
                            <div class="icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <a href=""><span>info@gmail.com</span></a>
                        </li>
                        <li class="animate__animated animate__zoomIn">
                            <div class="arrow_icon">
                                <i class="fas fa-caret-left"></i>
                            </div>
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <a href=""><span>القصيم - المملكة العربيه السعودية</span></a>
                        </li>
                        <li class="animate__animated animate__zoomIn">
                            <div class="arrow_icon">
                                <i class="fas fa-caret-left"></i>
                            </div>
                            <div class="icon">
                                <i class="fas fa-window-maximize"></i>
                            </div>
                            <a href=""><span></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer>
</app-footer>