<header class="header2">
    <div class="container">
        <app-header></app-header>

        <!--start head-->
        <div class="head text-center">
            <h2>Front end developer</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">الصفحة الرئيسية</a></li>
                    <li class="breadcrumb-item"><a routerLink="/careers">الوظائف</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Front end developer</li>
                </ol>
            </nav>
        </div>
        <!--end head-->
    </div>
</header>

<section class="career_info">
    <div class="container">
        <div class="job-block " style="background:none !important;padding:0">
            <div class="inner-box" style="background:none !important;border: 0;padding:0">
                <div class="row">
                    <div class="col-md-2">
                        <div class="company-logo animate__animated animate__zoomIn text-center"><img src="assets/images/1-1.png" alt=""></div>
                    </div>
                    <div class="col-md-7">
                        <h4 class="animate__animated animate__fadeInDown">Front end developer</h4>
                        <ul class="job-info animate__animated animate__fadeInDown">
                            <li><span class="fas fa-map-marker-alt"></span> المملكة العربية السعوديه</li>
                            <li><span class="fas fa-clock"></span> منذ 11 ساعه</li>
                            <li><span class="fas fa-money-bill-wave"></span> $35k - $45k</li>
                        </ul>
                        <ul class="job-other-info animate__animated animate__fadeInDown">
                            <li class="time">دوام كامل</li>
                            <li class="privacy">خاص</li>
                            <li class="required">عاجل</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="animate__animated animate__zoomIn" data-toggle="modal" data-target="#exampleModal">
                            الالتحاق بالوظيفة
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="careers">
    <div class="container">


        <div class="row">

            <div class="col-md-8">
                <div class="description">
                    <h4 class="animate__animated animate__zoomIn">وصف الوظيفة:</h4>
                    <p class="animate__animated animate__fadeInDown">في هذا الدور ، ستعمل مع فريق من المطورين لدفع التطوير المستمر باستخدام أحدث تقنيات الويب
                        الأمامية.</p>
                    <p class="animate__animated animate__fadeInDown">نحن نستخدم منهجية Agile ونحتضن تمامًا أساسيات التحسين المستمر والمتطلبات في الوقت المناسب
                        ومشاركة أصحاب المصلحة النشطة.</p>
                    <h4 class="animate__animated animate__zoomIn">المهام الأساسية:</h4>
                    <ul>
                        <li class="animate__animated animate__fadeInDown">اكتب رمزًا عالي الجودة وقابل لإعادة الاستخدام وفقًا لأفضل الممارسات الصناعية.</li>
                        <li class="animate__animated animate__fadeInDown">تقديم تقديرات التطوير لطلبات التحسين.</li>
                        <li class="animate__animated animate__fadeInDown">برامج الاختبارات لضمان الجودة والنتائج المتوقعة قبل النشر في بيئة الإنتاج</li>
                        <li class="animate__animated animate__fadeInDown">التحقيق في الأخطاء أو أوجه القصور في قاعدة بيانات المشروع وحلها.</li>
                    </ul>
                    <h4 class="animate__animated animate__zoomIn">المهارة والخبرة:</h4>
                    <ul>
                        <li class="animate__animated animate__fadeInDown">درجة البكالوريوس في علوم الكمبيوتر أو مجال ذي صلة </li>
                        <li class="animate__animated animate__fadeInDown">خبرة في منهجيات التطوير الرشيقة </li>
                        <li class="animate__animated animate__fadeInDown">مستوى عالٍ من الإلمام أو الخبرة العملية في التصميم الموجه للكائنات ومبادئ SOILD </li>
                        <li class="animate__animated animate__fadeInDown">المهارات التعاونية مطلوبة للعمل بشكل وثيق مع مطوري الواجهة الخلفية.</li>
                        <li class="animate__animated animate__fadeInDown">قدرات عالية على التعلم الذاتي</li>
                        <li class="animate__animated animate__fadeInDown">مهارات قوية في حل المشكلات وتصحيح الأخطاء ما لا يقل عن 5 سنوات من الخبرة ذات الصلة في
                            تطوير تطبيقات الويب الأمامية (مفضل ، الزاوية 8+)</li>
                        <li class="animate__animated animate__fadeInDown">يتقن تقنيات الواجهة الأمامية مثل HTML و CSS و JavaScript و Typescript و Bootstrap</li>
                        <li class="animate__animated animate__fadeInDown">معرفة جيدة جدًا بمعالجات CSS الأولية مثل SCSS.</li>
                        <li class="animate__animated animate__fadeInDown">معرفة جيدة بـ Web UX</li>

                    </ul>

                    <h4 class="animate__animated animate__zoomIn">وظائف ذات صله</h4>
                </div>



                <div class="job-block">
                    <div class="inner-box animate__animated animate__zoomIn">
                        <div class="row">
                            <div class="col-md-2">
                                <span class="company-logo"><img src="assets/images/1-1.png" alt=""></span>
                            </div>
                            <div class="col-md-10">
                                <h4><a routerLink="/careers/1">Front end developer</a></h4>
                                <ul class="job-info">
                                    <li><span class="fas fa-map-marker-alt"></span> المملكة العربية السعوديه</li>
                                    <li><span class="fas fa-clock"></span> منذ 11 ساعه</li>
                                    <li><span class="fas fa-money-bill-wave"></span> $35k - $45k</li>
                                </ul>
                                <ul class="job-other-info">
                                    <li class="time">دوام كامل</li>
                                    <li class="privacy">خاص</li>
                                    <li class="required">عاجل</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="job-block">
                    <div class="inner-box animate__animated animate__zoomIn">
                        <div class="row">
                            <div class="col-md-2">
                                <span class="company-logo"><img src="assets/images/1-1.png" alt=""></span>
                            </div>
                            <div class="col-md-10">
                                <h4><a routerLink="/careers/1">Front end developer</a></h4>
                                <ul class="job-info">
                                    <li><span class="fas fa-map-marker-alt"></span> المملكة العربية السعوديه</li>
                                    <li><span class="fas fa-clock"></span> منذ 11 ساعه</li>
                                    <li><span class="fas fa-money-bill-wave"></span> $35k - $45k</li>
                                </ul>
                                <ul class="job-other-info">
                                    <li class="time">دوام كامل</li>
                                    <li class="privacy">خاص</li>
                                    <li class="required">عاجل</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="job-block">
                    <div class="inner-box animate__animated animate__zoomIn">
                        <div class="row">
                            <div class="col-md-2">
                                <span class="company-logo"><img src="assets/images/1-1.png" alt=""></span>
                            </div>
                            <div class="col-md-10">
                                <h4><a routerLink="/careers/1">Front end developer</a></h4>
                                <ul class="job-info">
                                    <li><span class="fas fa-map-marker-alt"></span> المملكة العربية السعوديه</li>
                                    <li><span class="fas fa-clock"></span> منذ 11 ساعه</li>
                                    <li><span class="fas fa-money-bill-wave"></span> $35k - $45k</li>
                                </ul>
                                <ul class="job-other-info">
                                    <li class="time">دوام كامل</li>
                                    <li class="privacy">خاص</li>
                                    <li class="required">عاجل</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <h4 class="animate__animated animate__zoomIn">نظرة عامة على الوظيفة</h4>

                    <div class="media animate__animated animate__fadeInDown">

                        <i class="fas fa-calendar-check ml-3" alt="..."></i>
                        <div class="media-body">
                            <h5 class="mt-0">تاريخ الإعلان:</h5>
                            <p>نشرت منذ 1 ساعة </p>
                        </div>
                    </div>
                    <div class="media animate__animated animate__fadeInDown">
                        <i class="fas fa-hourglass-half ml-3" alt="..."></i>
                        <div class="media-body">
                            <h5 class="mt-0">تاريخ انتهاء الاعلان:</h5>
                            <p>30 ابريل 2022</p>
                        </div>
                    </div>
                    <div class="media animate__animated animate__fadeInDown">
                        <i class="fas fa-map-marker-alt ml-3" alt="..."></i>
                        <div class="media-body">
                            <h5 class="mt-0"></h5>
                            <h5 class="mt-0">العنوان:</h5>
                            <p>المملكة العربية السعودية.</p>
                        </div>
                    </div>
                    <div class="media animate__animated animate__fadeInDown">
                        <i class="fas fa-user-alt ml-3" alt="..."></i>
                        <div class="media-body">
                            <h5 class="mt-0">الوظيفة</h5>
                            <p>Front end developer</p>
                        </div>
                    </div>
                    <div class="media animate__animated animate__fadeInDown">
                        <i class="fas fa-clock ml-3" alt="..."></i>
                        <div class="media-body">
                            <h5 class="mt-0">ساعات العمل:</h5>
                            <p>50 ساعة / أسبوع</p>
                        </div>
                    </div>
                    <div class="media animate__animated animate__fadeInDown">
                        <i class="fas fa-money-bill-wave ml-3" alt="..."></i>
                        <div class="media-body">
                            <h5 class="mt-0">السعر:</h5>
                            <p>$35k - $45k</p>
                        </div>
                    </div>

                    <h4 class="animate__animated animate__fadeInDown">الموقع:</h4>
                    <iframe class="animate__animated animate__zoomIn"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3661089.712949173!2d45.3926475728755!3d26.349709648412645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x157f59ad6fe2be3b%3A0xe1fb621d3b0d00aa!2z2YXZhti32YLYqSDYp9mE2YLYtdmK2YUg2KfZhNiz2LnZiNiv2YrYqQ!5e0!3m2!1sar!2seg!4v1654986761746!5m2!1sar!2seg"
                        width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <h4 class="animate__fadeInDown">المهارات والأدوات:</h4>
                    <ul class="job-skills">
                        <li class="animate__animated animate__zoomIn"><a href="">Agile</a></li>
                        <li class="animate__animated animate__zoomIn"><a href="">Amgular</a></li>
                        <li class="animate__animated animate__zoomIn"><a href="">Bootstrap</a></li>
                        <li class="animate__animated animate__zoomIn"><a href="">Computer science</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">الالتحاق بوظيفة front end developer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <label>الاسم الاول:</label>
                            <input type="text" class="form-control" placeholder="الاسم الاول">
                        </div>
                        <div class="col-md-6">
                            <label>الاسم الاخر:</label>
                            <input type="text" class="form-control" placeholder="الاسم الاخر">
                        </div>
                        <div class="col-md-6">
                            <label>البريد الالكتروني:</label>
                            <input type="email" class="form-control" placeholder="البريد الالكتروني">
                        </div>
                        <div class="col-md-6">
                            <label>رقم التليفون:</label>
                            <input type="tel" class="form-control" placeholder="رقم التليفون">
                        </div>
                        <div class="col-md-6">
                            <label>المسمي الوظيفي الحالي:</label>
                            <input type="text" class="form-control" placeholder="المسمي الوظيفي الحالي">
                        </div>
                        <div class="col-md-6">
                            <label>الراتب الحالي:</label>
                            <input type="text" class="form-control" placeholder="الراتب الحالي">
                        </div>
                        <div class="col-md-6">
                            <label>المستوى الأكاديمي:</label>
                            <select class="form-control">
                                <option>شهادة</option>
                                <option>دبلوم</option>
                                <option>درجة البكالوريوس</option>
                                <option>درجة الماجستير</option>


                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>النوع:</label>
                            <select class="form-control">
                                <option>ذكر</option>
                                <option>انثى</option>
                            </select>
                        </div>
                    </div>
                    <label>رفع السيرة الذاتية الخاصة بك:</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                        <label class="custom-file-label" for="customFileLang">رفع ملف pdf او doc </label>
                    </div>
                    <div class="text-center button">
                        <input type="submit" value="الالتحاق بالوظيفة">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>