<header class="header2">
    <div class="container">
        <app-header></app-header>

        <!--start head-->
        <div class="head text-center">
            <h2>الخدمات</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">الصفحة الرئيسية</a></li>
                    <li class="breadcrumb-item active" aria-current="page">الخدمات</li>
                </ol>
            </nav>
        </div>
        <!--end head-->
    </div>
</header>



<!--start services -->
<section class="services" style="padding-bottom: 100px;">
    <div class="container">
        <h4>الخدمات</h4>
        <h2>نقدم خدمات مميزه</h2>
        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
            الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>

        <div class="row">
            <div class="col-md-4">
                <div class="ltn__feature-item ltn__feature-item-6 box-shadow-1 animate__animated animate__zoomIn">
                    <div class="ltn__feature-icon">
                        <span><i class="fa-solid fa-pen-ruler"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h3 class="animated fadeIn"><a routerLink="/services/1">تصميم غرافيك</a></h3>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                            التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                        <a class="ltn__service-btn ltn__service-btn-2" routerLink="/services/1">تفاصيل
                            الخدمه <i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ltn__feature-item ltn__feature-item-6 box-shadow-1 animate__animated animate__zoomIn">
                    <div class="ltn__feature-icon">
                        <span><i class="fa-solid fa-pen-ruler"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h3 class="animated fadeIn"><a routerLink="/services/1">تصميم غرافيك</a></h3>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                            التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                        <a class="ltn__service-btn ltn__service-btn-2" routerLink="/services/1">تفاصيل
                            الخدمه <i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ltn__feature-item ltn__feature-item-6 box-shadow-1 animate__animated animate__zoomIn">
                    <div class="ltn__feature-icon">
                        <span><i class="fa-solid fa-pen-ruler"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h3 class="animated fadeIn"><a routerLink="/services/1">تصميم غرافيك</a></h3>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                            التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                        <a class="ltn__service-btn ltn__service-btn-2" routerLink="/services/1">تفاصيل
                            الخدمه <i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ltn__feature-item ltn__feature-item-6 box-shadow-1 animate__animated animate__zoomIn">
                    <div class="ltn__feature-icon">
                        <span><i class="fa-solid fa-pen-ruler"></i></span>
                    </div>
                    <div class="ltn__feature-info">
                        <h3 class="animated fadeIn"><a routerLink="/services/1">تصميم غرافيك</a></h3>
                        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                            التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                        <a class="ltn__service-btn ltn__service-btn-2" routerLink="/services/1">تفاصيل
                            الخدمه <i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<!--end services -->

<app-footer></app-footer>