<header>
    <div class="container">
        <app-header>

        </app-header>
        <!--start content-->
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="info">
                        <h2 class="animate__animated animate__zoomIn animate__delay-1s">نحن خبراء رقميين
                        </h2>
                        <p class="animate__animated animate__zoomIn animate__delay-1s">هناك حقيقة مثبتة
                            منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
                            الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                        <a routerLink="/about-us"
                            class="about animate__animated animate__fadeInUp animate__delay-1s"><button>المزيد</button></a>
                        <a routerLink="/about-us" class="contact animate__animated animate__fadeInUp animate__delay-1s"><button>اتصل
                                بنا</button></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image animate__animated animate__zoomIn">
                        <img src="assets/images/i12.png">
                    </div>
                </div>
            </div>
        </div>
        <!--end content-->


    </div>
</header>

<!--start about -->

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7 animate__animated animate__fadeInDown animate__delay-1s">
                <img src="assets/images/i9.png">
            </div>
            <div class="col-md-5">
                <h4 class="animate__animated animate__fadeInDown animate__delay-1s">من نحن</h4>
                <h2 class="animate__animated animate__fadeInDown animate__delay-1s">نحن نصنع الحلول والمنتجات
                    والخدمات الرقمية.</h2>
                <div class="row">
                    <div class="col-md-6 col-6">
                        <div class="sec animate__animated animate__fadeIn animate__delay-1s">
                            <div class="number">
                                + <span class="count">3</span></div>
                            <h4>مشاريع</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-6">
                        <div class="sec animate__animated animate__fadeIn animate__delay-1s">
                            <div class="number">
                                + <span class="count">10</span></div>
                            <h4>خدمات</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-6">
                        <div class="sec animate__animated animate__fadeIn animate__delay-1s">
                            <div class="number">
                                + <span class="count">7</span></div>
                            <h4>أعضاء الفريق
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-6">
                        <div class="sec animate__animated animate__fadeIn animate__delay-1s">
                            <div class="number">
                                + <span class="count">10</span></div>
                            <h4>وظائف
                            </h4>
                        </div>
                    </div>

                </div>
                <p class="animate__animated animate__fadeInDown animate__delay-1s">هناك حقيقة مثبتة منذ زمن
                    طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
                    الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>

            </div>
        </div>
    </div>
</section>
<!--end about -->

<!--start services -->
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h4>الخدمات</h4>
                <h2>نقدم خدمات مميزه</h2>
                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
                    الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                <a routerLink="/services"><button>عرض الخدمات</button></a>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ltn__feature-item ltn__feature-item-6 box-shadow-1">
                            <div class="ltn__feature-icon">
                                <span><i class="fa-solid fa-pen-ruler"></i></span>
                            </div>
                            <div class="ltn__feature-info">
                                <h3 class="animated fadeIn"><a routerLink="/services/1">تصميم غرافيك</a></h3>
                                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                                    التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                                <a class="ltn__service-btn ltn__service-btn-2" routerLink="/services/1">تفاصيل
                                    الخدمه <i class="fas fa-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ltn__feature-item ltn__feature-item-6 box-shadow-1">
                            <div class="ltn__feature-icon">
                                <span><i class="fa-solid fa-pen-ruler"></i></span>
                            </div>
                            <div class="ltn__feature-info">
                                <h3 class="animated fadeIn"><a routerLink="/services/1">تصميم غرافيك</a></h3>
                                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                                    التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                                <a class="ltn__service-btn ltn__service-btn-2" routerLink="/services/1">تفاصيل
                                    الخدمه <i class="fas fa-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ltn__feature-item ltn__feature-item-6 box-shadow-1">
                            <div class="ltn__feature-icon">
                                <span><i class="fa-solid fa-pen-ruler"></i></span>
                            </div>
                            <div class="ltn__feature-info">
                                <h3 class="animated fadeIn"><a routerLink="/services/1">تصميم غرافيك</a></h3>
                                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                                    التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                                <a class="ltn__service-btn ltn__service-btn-2" routerLink="/services/1">تفاصيل
                                    الخدمه <i class="fas fa-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ltn__feature-item ltn__feature-item-6 box-shadow-1">
                            <div class="ltn__feature-icon">
                                <span><i class="fa-solid fa-pen-ruler"></i></span>
                            </div>
                            <div class="ltn__feature-info">
                                <h3 class="animated fadeIn"><a routerLink="/services/1">تصميم غرافيك</a></h3>
                                <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                                    التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                                <a class="ltn__service-btn ltn__service-btn-2" routerLink="/services/1">تفاصيل
                                    الخدمه <i class="fas fa-arrow-left"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--end services -->

<!--start works -->
<section class="works">
    <div class="container">
        <h4> اعمالنا</h4>
        <h2>اعمالنا المميزه</h2>
        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
            الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>

        <div id="works" class="owl-carousel">

            <div class="item">
                <div class="project-item">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">اسم التصنيف</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="project-item">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">اسم التصنيف</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="project-item">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">اسم التصنيف</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="project-item">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">اسم التصنيف</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

        </div>
        <div class="button text-center">
            <a routerLink="/works"><button>عرض اعمالنا</button></a>
        </div>
    </div>
</section>
<!--end works -->

<!--start team -->
<section class="team">
    <div class="container">
        <h4>فريق العمل</h4>
        <h2>قابل فريق العمل المحترف</h2>
        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
            الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>

        <div id="team" class="owl-carousel">

            <div class="item">
                <div class="team-one__single wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="team-one__single-wrapper">
                        <div class="team-one__single-img">
                            <img src="assets/images/team-one-img-1.jpg" alt="">
                        </div>
                        <div class="team-one__single-title">
                            <h4><a routerLink="/team">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                        </div>
                        <div class="team-one__single-title-overly">
                            <h4><a routerLink="/team">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                            <ul class="social-icon list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                            <div class="icon">
                                <a routerLink="/team"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-one__single wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="team-one__single-wrapper">
                       
                        <div class="team-one__single-img">
                            <img src="assets/images/team-one-img-1.jpg" alt="">
                        </div>
                        <div class="team-one__single-title">
                            <h4><a routerLink="/team">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                        </div>
                        <div class="team-one__single-title-overly">
                            <h4><a routerLink="/team">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                            <ul class="social-icon list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                            <div class="icon">
                                <a routerLink="/team"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-one__single wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="team-one__single-wrapper">
                        <div class="team-one__single-img">
                            <img src="assets/images/team-one-img-1.jpg" alt="">
                        </div>
                        <div class="team-one__single-title">
                            <h4><a routerLink="/team">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                        </div>
                        <div class="team-one__single-title-overly">
                            <h4><a routerLink="/team">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                            <ul class="social-icon list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                            <div class="icon">
                                <a routerLink="/team"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-one__single wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="team-one__single-wrapper">
                        <div class="team-one__single-img">
                            <img src="assets/images/team-one-img-1.jpg" alt="">
                        </div>
                        <div class="team-one__single-title">
                            <h4><a routerLink="/team">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                        </div>
                        <div class="team-one__single-title-overly">
                            <h4><a routerLink="/team">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                            <ul class="social-icon list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                            <div class="icon">
                                <a routerLink="/team"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-one__single wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="team-one__single-wrapper">
                        <div class="team-one__single-img">
                            <img src="assets/images/team-one-img-1.jpg" alt="">
                        </div>
                        <div class="team-one__single-title">
                            <h4><a routerLink="/team">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                        </div>
                        <div class="team-one__single-title-overly">
                            <h4><a routerLink="/team">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                            <ul class="social-icon list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                            <div class="icon">
                                <a routerLink="/team"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-one__single wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="team-one__single-wrapper">
                        <div class="team-one__single-img">
                            <img src="assets/images/team-one-img-1.jpg" alt="">
                        </div>
                        <div class="team-one__single-title">
                            <h4><a routerLink="/team">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                        </div>
                        <div class="team-one__single-title-overly">
                            <h4><a routerLink="/team">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                            <ul class="social-icon list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                            <div class="icon">
                                <a routerLink="/team"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="button text-center">
            <a routerLink="/team"><button>عرض فريق العمل</button></a>
        </div>
    </div>
</section>
<!--end team -->

<app-footer>

</app-footer>