<header class="header2">
    <div class="container">
        <app-header></app-header>
                <!--start head-->
                <div class="head text-center">
                    <h2>اتصل بنا</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">الصفحة الرئيسية</a></li>
                            <li class="breadcrumb-item active" aria-current="page">اتصل بنا</li>
                        </ol>
                    </nav>
                </div>
                <!--end head-->
    </div>
    </header>

      <!--start about us-->
      <section class="contact">
        <div class="container">
            <h4>ابقى على تواصل</h4>
                        <h2 class="animate__animated animate__lightSpeedInRight animate__delay-1s">اتصل بنا</h2>

                        <p class="animate__animated animate__lightSpeedInRight animate__delay-1s">هناك حقيقة مثبتة منذ
                            زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
                            الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
            <div class="row">
                <div class="col-md-6">
                 <form>
                     <label>الاسم بالكامل:</label>
                     <input type="text" class="form-control" placeholder="الاسم بالكامل">
                     <label>البريد الالكتروني:</label>
                     <input type="text" class="form-control" placeholder="البريد الالكتروني">
                     <label>الموضوع:</label>
                     <input type="text" class="form-control" placeholder="الموضوع">
                     <label>الرساله:</label>
                     <textarea class="form-control" rows="5" placeholder="الرساله"></textarea>
                 <div class="button">
                     <input type="submit" value="ارسل">
                 </div>
                    </form>
                </div>
                <div class="col-md-6">
                   
                    <div class="contact_info">
                        <h4>معلومات الشركه</h4>
                        <p><i class="fa-solid fa-location-dot"></i> القصيم - المملكة العربيه السعودية
                        </p>
    
                        <p><i class="fa-solid fa-phone"></i> (10) 22 33445566</p>
                        <p><i class="fa-solid fa-envelope"></i> info@gmail.com</p>
                        </div>

                </div>
            </div>

            <div class="map">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3661089.712949173!2d45.3926475728755!3d26.349709648412645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x157f59ad6fe2be3b%3A0xe1fb621d3b0d00aa!2z2YXZhti32YLYqSDYp9mE2YLYtdmK2YUg2KfZhNiz2LnZiNiv2YrYqQ!5e0!3m2!1sar!2seg!4v1654986761746!5m2!1sar!2seg"
                width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
    <!--end about us-->

    <app-footer></app-footer>