<header class="header2">
    <div class="container">
        <app-header></app-header>

        <!--start head-->
        <div class="head text-center">
            <h2>اعمالنا</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">الصفحة الرئيسية</a></li>
                    <li class="breadcrumb-item active" aria-current="page">اعمالنا</li>
                </ol>
            </nav>
        </div>
        <!--end head-->

        <!--end header-->
    </div>
</header>

<!--start portfolio-->
<section class="portfolio">
    <div class="container">
        <h4> اعمالنا</h4>
        <h2>اعمالنا المميزه</h2>
        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
            الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
        <div class="buttons">
            <button class="btn btn-default filter-button active" data-filter="all">الكل</button>
            <button class="btn btn-default filter-button" data-filter="category1">الصنف 1</button>
            <button class="btn btn-default filter-button" data-filter="category2">الصنف 2</button>
            <button class="btn btn-default filter-button" data-filter="category3">الصنف 3</button>
            <button class="btn btn-default filter-button" data-filter="category4">الصنف 4</button>
        </div>
        <br />


        <div class="row">
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter category1">
                <div class="project-item animate__animated animate__zoomIn">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">الصنف 3</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter category2">
                <div class="project-item animate__animated animate__zoomIn">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">الصنف 3</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter category1">
                <div class="project-item animate__animated animate__zoomIn">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">الصنف 3</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter category4">
                <div class="project-item animate__animated animate__zoomIn">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">الصنف 3</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                <div class="project-item animate__animated animate__zoomIn">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">الصنف 3</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter category2">
                <div class="project-item animate__animated animate__zoomIn">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">الصنف 3</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter category3">
                <div class="project-item animate__animated animate__zoomIn">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">الصنف 3</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter category4">
                <div class="project-item animate__animated animate__zoomIn">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">الصنف 3</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter category4">
                <div class="project-item animate__animated animate__zoomIn">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">الصنف 3</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter category1">
                <div class="project-item animate__animated animate__zoomIn">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">الصنف 3</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter category3">
                <div class="project-item animate__animated animate__zoomIn">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">الصنف 3</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter category3">
                <div class="project-item animate__animated animate__zoomIn">
                    <div class="project-img">
                        <a routerLink="/works/1"><img src="assets/images/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <span class="category"><a routerLink="/works/1">الصنف 3</a></span>
                        <h3 class="title"><a routerLink="/works/1">اسم العمل</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end portfolio-->


<app-footer></app-footer>