<header class="header2">
    <div class="container">
        <app-header></app-header>

          <!--start head-->
          <div class="head text-center">
            <h2>الوظائف</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">الصفحة الرئيسية</a></li>
                    <li class="breadcrumb-item active" aria-current="page">الوظائف</li>
                </ol>
            </nav>
        </div>
        <!--end head-->
    </div>
</header>

<section class="careers">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="sidebar">
                    <form>
                        <label class="animate__animated animate__fadeInDown">البحث عن طريق الكلمات الدلالية:</label>
                        <div class="input animate__animated animate__zoomIn">
                            <input type="text" placeholder="المسمى الوظيفي" class="form-control">
                            <i class="fas fa-search"></i>
                        </div>
                        <label class="animate__animated animate__fadeInDown">الموقع:</label>
                        <div class="input animate__animated animate__zoomIn">
                            <input type="text" placeholder="المدينة" class="form-control">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <label class="animate__animated animate__fadeInDown">الفئة:</label>
                        <div class="input animate__animated animate__zoomIn">
                            <select class="form-control">
                                <option>Graphic design</option>
                                <option>Ui/ux designer</option>
                                <option>Front end developer</option>
                                <option>Back end developer</option>
                            </select>
                            <i class="fas fa-briefcase"></i>
                        </div>
                        <label class="animate__animated animate__fadeInDown">نوع الوظيفة:</label>
                        <div class="input  animate__animated animate__zoomIn">
                            <input type="radio"> فريلانسر
                        </div>
                        <div class="input animate__animated animate__zoomIn">
                            <input type="radio"> دوام كامل
                        </div>
                        <div class="input animate__animated animate__zoomIn">
                            <input type="radio"> دوام جزئي
                        </div>
                        <div class="input animate__animated animate__zoomIn">
                            <input type="radio"> تدريب
                        </div>
                        <div class="input animate__animated animate__zoomIn">
                            <input type="radio"> مؤقت
                        </div>

                        <label style="width:100%" class="animate__animated animate__fadeInDown">تاريخ الاعلان:</label>
                        <div class="input animate__animated animate__zoomIn">
                            <input type="radio"> الكل
                        </div>
                        <div class="input animate__animated animate__zoomIn">
                            <input type="radio"> اخر ساعه
                        </div>
                        <div class="input animate__animated animate__zoomIn">
                            <input type="radio"> اخر 24 ساعه
                        </div>
                        <div class="input animate__animated animate__zoomIn">
                            <input type="radio"> اخر 7 ايام
                        </div>
                        <div class="input animate__animated animate__zoomIn">
                            <input type="radio"> اخر 14 يوم
                        </div>
                        <div class="input animate__animated animate__zoomIn">
                            <input type="radio"> اخر 31 يوم
                        </div>

                        <div class="input text-center  animate__animated animate__zoomIn">
                            <input type="submit" value="ارسال">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <div class="head">
                    <div class="row">
                        <div class="col-md-6">

                            <h4 class="animate__animated animate__fadeInDown">عرض 41-60 من أصل 944 وظيفة</h4>

                        </div>
                        <div class="col-md-6">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <select class="form-control animate__animated animate__zoomIn">
                                            <option>وظائف جديدة</option>
                                            <option>فريلانسر</option>
                                            <option>دوام كامل</option>
                                            <option>دوام جزئي</option>
                                            <option>تدريب</option>
                                            <option>مؤقت</option>

                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control animate__animated animate__zoomIn">
                                            <option>عرض 10</option>
                                            <option>عرض 20</option>
                                            <option>عرض 30</option>
                                            <option>عرض 40</option>
                                            <option>عرض 50</option>
                                            <option>عرض 60</option>

                                        </select>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="job-block">
                    <div class="inner-box animate__animated animate__zoomIn">
                        <div class="row">
                            <div class="col-md-2">
                                <span class="company-logo"><img src="assets/images/1-1.png" alt=""></span>
                            </div>
                            <div class="col-md-10">
                                <h4><a routerLink="/careers/1">Front end developer</a></h4>
                                <ul class="job-info">
                                    <li><span class="fas fa-map-marker-alt"></span> المملكة العربية السعوديه</li>
                                    <li><span class="fas fa-clock"></span> منذ 11 ساعه</li>
                                    <li><span class="fas fa-money-bill-wave"></span> $35k - $45k</li>
                                </ul>
                                <ul class="job-other-info">
                                    <li class="time">دوام كامل</li>
                                    <li class="privacy">خاص</li>
                                    <li class="required">عاجل</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="job-block">
                    <div class="inner-box animate__animated animate__zoomIn">
                        <div class="row">
                            <div class="col-md-2">
                                <span class="company-logo"><img src="assets/images/1-1.png" alt=""></span>
                            </div>
                            <div class="col-md-10">
                                <h4><a routerLink="/careers/1">Front end developer</a></h4>
                                <ul class="job-info">
                                    <li><span class="fas fa-map-marker-alt"></span> المملكة العربية السعوديه</li>
                                    <li><span class="fas fa-clock"></span> منذ 11 ساعه</li>
                                    <li><span class="fas fa-money-bill-wave"></span> $35k - $45k</li>
                                </ul>
                                <ul class="job-other-info">
                                    <li class="time">دوام كامل</li>
                                    <li class="privacy">خاص</li>
                                    <li class="required">عاجل</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="job-block">
                    <div class="inner-box animate__animated animate__zoomIn">
                        <div class="row">
                            <div class="col-md-2">
                                <span class="company-logo"><img src="assets/images/1-1.png" alt=""></span>
                            </div>
                            <div class="col-md-10">
                                <h4><a routerLink="/careers/1">Front end developer</a></h4>
                                <ul class="job-info">
                                    <li><span class="fas fa-map-marker-alt"></span> المملكة العربية السعوديه</li>
                                    <li><span class="fas fa-clock"></span> منذ 11 ساعه</li>
                                    <li><span class="fas fa-money-bill-wave"></span> $35k - $45k</li>
                                </ul>
                                <ul class="job-other-info">
                                    <li class="time">دوام كامل</li>
                                    <li class="privacy">خاص</li>
                                    <li class="required">عاجل</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="job-block">
                    <div class="inner-box animate__animated animate__zoomIn">
                        <div class="row">
                            <div class="col-md-2">
                                <span class="company-logo"><img src="assets/images/1-1.png" alt=""></span>
                            </div>
                            <div class="col-md-10">
                                <h4><a routerLink="/careers/1">Front end developer</a></h4>
                                <ul class="job-info">
                                    <li><span class="fas fa-map-marker-alt"></span> المملكة العربية السعوديه</li>
                                    <li><span class="fas fa-clock"></span> منذ 11 ساعه</li>
                                    <li><span class="fas fa-money-bill-wave"></span> $35k - $45k</li>
                                </ul>
                                <ul class="job-other-info">
                                    <li class="time">دوام كامل</li>
                                    <li class="privacy">خاص</li>
                                    <li class="required">عاجل</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="job-block">
                    <div class="inner-box animate__animated animate__zoomIn">
                        <div class="row">
                            <div class="col-md-2">
                                <span class="company-logo"><img src="assets/images/1-1.png" alt=""></span>
                            </div>
                            <div class="col-md-10">
                                <h4><a routerLink="/careers/1">Front end developer</a></h4>
                                <ul class="job-info">
                                    <li><span class="fas fa-map-marker-alt"></span> المملكة العربية السعوديه</li>
                                    <li><span class="fas fa-clock"></span> منذ 11 ساعه</li>
                                    <li><span class="fas fa-money-bill-wave"></span> $35k - $45k</li>
                                </ul>
                                <ul class="job-other-info">
                                    <li class="time">دوام كامل</li>
                                    <li class="privacy">خاص</li>
                                    <li class="required">عاجل</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="job-block">
                    <div class="inner-box animate__animated animate__zoomIn">
                        <div class="row">
                            <div class="col-md-2">
                                <span class="company-logo"><img src="assets/images/1-1.png" alt=""></span>
                            </div>
                            <div class="col-md-10">
                                <h4><a routerLink="/careers/1">Front end developer</a></h4>
                                <ul class="job-info">
                                    <li><span class="fas fa-map-marker-alt"></span> المملكة العربية السعوديه</li>
                                    <li><span class="fas fa-clock"></span> منذ 11 ساعه</li>
                                    <li><span class="fas fa-money-bill-wave"></span> $35k - $45k</li>
                                </ul>
                                <ul class="job-other-info">
                                    <li class="time">دوام كامل</li>
                                    <li class="privacy">خاص</li>
                                    <li class="required">عاجل</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="job-block">
                    <div class="inner-box animate__animated animate__zoomIn">
                        <div class="row">
                            <div class="col-md-2">
                                <span class="company-logo"><img src="assets/images/1-1.png" alt=""></span>
                            </div>
                            <div class="col-md-10">
                                <h4><a routerLink="/careers/1">Front end developer</a></h4>
                                <ul class="job-info">
                                    <li><span class="fas fa-map-marker-alt"></span> المملكة العربية السعوديه</li>
                                    <li><span class="fas fa-clock"></span> منذ 11 ساعه</li>
                                    <li><span class="fas fa-money-bill-wave"></span> $35k - $45k</li>
                                </ul>
                                <ul class="job-other-info">
                                    <li class="time">دوام كامل</li>
                                    <li class="privacy">خاص</li>
                                    <li class="required">عاجل</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>