<header class="header2">
    <div class="container">
        <app-header></app-header>

        <!--start head-->
        <div class="head text-center">
            <h2>من نحن</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">الصفحة الرئيسية</a></li>
                    <li class="breadcrumb-item active" aria-current="page">من نحن</li>
                </ol>
            </nav>
        </div>
        <!--end head-->
    </div>
</header>


<!--start about us-->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <h4>عن الشركه</h4>
                    <h2 class="animate__animated animate__zoomIn animate__delay-1s">من نحن</h2>

                    <p class="animate__animated animate__zoomIn animate__delay-1s">هناك حقيقة مثبتة منذ
                        زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
                        الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                    <p class="animate__animated animate__zoomIn animate__delay-1s">إلى حد ما- للأحرف
                        عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص
                        مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل
                        إفتراضي كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع
                        الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم،
                        أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image animate__animated animate__zoomIn">
                    <img src="assets/images/i12.png">
                </div>
            </div>
        </div>
    </div>
</section>
<!--end about us-->

<!--start statistics-->

<section class="statistics">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6">
                <div class="stat animate__animated animate__zoomIn animate__delay-1s">
                    <i class="fa-solid fa-diagram-project"></i>
                    <div class="number">
                        + <span class="count">3</span></div>
                    <h4>مشاريع</h4>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="stat animate__animated animate__zoomIn animate__delay-1s">
                    <i class="fa-solid fa-bars-progress"></i>
                    <div class="number">
                        + <span class="count">10</span></div>
                    <h4>خدمات</h4>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="stat animate__animated animate__zoomIn animate__delay-1s">
                    <i class="fa-solid fa-user-group"></i>
                    <div class="number">
                        + <span class="count">7</span></div>
                    <h4>فريق العمل</h4>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="stat animate__animated animate__zoomIn animate__delay-1s">
                    <i class="fa-solid fa-file-pen"></i>
                    <div class="number">
                        + <span class="count">10</span></div>
                    <h4>الوظائف</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end statistics-->

<!--start team -->
<section class="team">
    <div class="container">
        <h4>فريق العمل</h4>
        <h2>قابل فريق العمل المحترف</h2>
        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
            الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>

        <div id="team" class="owl-carousel">

            <div class="item">
                <div class="team-one__single wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="team-one__single-wrapper">
                        <div class="team-one__single-img">
                            <img src="assets/images/team-one-img-1.jpg" alt="">
                        </div>
                        <div class="team-one__single-title">
                            <h4><a href="team-details.html">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                        </div>
                        <div class="team-one__single-title-overly">
                            <h4><a href="team-details.html">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                            <ul class="social-icon list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                            <div class="icon">
                                <a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-one__single wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="team-one__single-wrapper">
                        <div class="team-one__single-img">
                            <img src="assets/images/team-one-img-1.jpg" alt="">
                        </div>
                        <div class="team-one__single-title">
                            <h4><a href="team-details.html">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                        </div>
                        <div class="team-one__single-title-overly">
                            <h4><a href="team-details.html">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                            <ul class="social-icon list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                            <div class="icon">
                                <a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-one__single wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="team-one__single-wrapper">
                        <div class="team-one__single-img">
                            <img src="assets/images/team-one-img-1.jpg" alt="">
                        </div>
                        <div class="team-one__single-title">
                            <h4><a href="team-details.html">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                        </div>
                        <div class="team-one__single-title-overly">
                            <h4><a href="team-details.html">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                            <ul class="social-icon list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                            <div class="icon">
                                <a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-one__single wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="team-one__single-wrapper">
                        <div class="team-one__single-img">
                            <img src="assets/images/team-one-img-1.jpg" alt="">
                        </div>
                        <div class="team-one__single-title">
                            <h4><a href="team-details.html">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                        </div>
                        <div class="team-one__single-title-overly">
                            <h4><a href="team-details.html">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                            <ul class="social-icon list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                            <div class="icon">
                                <a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-one__single wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="team-one__single-wrapper">
                        <div class="team-one__single-img">
                            <img src="assets/images/team-one-img-1.jpg" alt="">
                        </div>
                        <div class="team-one__single-title">
                            <h4><a href="team-details.html">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                        </div>
                        <div class="team-one__single-title-overly">
                            <h4><a href="team-details.html">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                            <ul class="social-icon list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                            <div class="icon">
                                <a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="team-one__single wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="team-one__single-wrapper">
                        <div class="team-one__single-img">
                            <img src="assets/images/team-one-img-1.jpg" alt="">
                        </div>
                        <div class="team-one__single-title">
                            <h4><a href="team-details.html">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                        </div>
                        <div class="team-one__single-title-overly">
                            <h4><a href="team-details.html">اسم الموظف</a></h4>
                            <p>وظيفة الموظف</p>
                            <ul class="social-icon list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                            <div class="icon">
                                <a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="button text-center">
            <a routerLink="/team"><button>عرض فريق العمل</button></a>
        </div>
    </div>
</section>
<!--end team -->

<!------- start testmonials-->
<section class="gtco-testimonials">
    <div class="container">
        <h4>اراء العملاء</h4>
        <h2>اراء عملائنا المميزين</h2>
        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
            الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>

        <div class="owl-carousel owl-carousel1 owl-theme">
            <div>
                <div class="card text-center"><img class="card-img-top"
                        src="https://images.unsplash.com/photo-1572561300743-2dd367ed0c9a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=300"
                        alt="">
                    <div class="card-body">
                        <h5>اسم العميل <br />
                        </h5>
                        <p class="card-text">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
                            عن التركيز على الشكل
                            الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card text-center"><img class="card-img-top"
                        src="https://images.unsplash.com/photo-1588361035994-295e21daa761?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=301"
                        alt="">
                    <div class="card-body">
                        <h5>اسم العميل <br />
                        </h5>
                        <p class="card-text">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
                            عن التركيز على الشكل
                            الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card text-center"><img class="card-img-top"
                        src="https://images.unsplash.com/photo-1575377222312-dd1a63a51638?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=302&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=302"
                        alt="">
                    <div class="card-body">
                        <h5>اسم العميل <br />
                        </h5>
                        <p class="card-text">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
                            عن التركيز على الشكل
                            الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card text-center"><img class="card-img-top"
                        src="https://images.unsplash.com/photo-1549836938-d278c5d46d20?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=303&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=303"
                        alt="">
                    <div class="card-body">
                        <h5>اسم العميل <br />
                        </h5>
                        <p class="card-text">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
                            عن التركيز على الشكل
                            الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!----------end testmonials-->

<!---------- start pricing-->

<section class="pricing">
    <div class="container">
        <h4>اسعارنا</h4>
        <h2>اسعارنا مميزة للعملاء</h2>
        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل
            الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-primary first animate__animated animate__zoomIn animate__delay-1s">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            الخطة الأساسية</h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                <span>$</span>10
                            </h1>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    شهر واحد
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    تصميم حصري
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Html5
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    css3
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Javascript
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Sass
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    صور و فيديوهات
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    شهر تجريبي مجاني
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a role="button">ابدأ</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-success second animate__animated animate__zoomIn animate__delay-1s">
                   
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            الخطة المتقدمة</h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                <span>$</span>20
                            </h1>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    شهر واحد
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    تصميم حصري
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Html5
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    css3
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Javascript
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Sass
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    صور و فيديوهات
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    شهر تجريبي مجاني
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a role="button">ابدأ</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-info first animate__animated animate__zoomIn animate__delay-1s">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            الخطة الاضافية</h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>
                                <span>$</span>30
                            </h1>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    شهر واحد
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    تصميم حصري
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Html5
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    css3
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Javascript
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Sass
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    صور و فيديوهات
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    شهر تجريبي مجاني
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a role="button">ابدأ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end pricing-->

<app-footer></app-footer>